{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button 'Log in' button_type='submit' button_class='btn-primary' %}
  </form>
{% endblock %}
