{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button 'Register' button_type='submit' button_class='btn-primary' %}
  </form>
{% endblock %}
