{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
  {% if quotes %}
    {% for quote in quotes %}
    <div class="card mb-3">
      <div class="card-body">
        {{ quote.content|linebreaks|escape }}
        <a href="{% url 'quotes:detail' quote.pk %}" class="card-link">Permalink</a>
      </div>
    </div>
    {% endfor %}

    {% bootstrap_pagination page_obj %}

    {% else %}
    <p>There's no quotes yet. Why don't you <a href="{% url 'quotes:create' %}">add one?</a></p>
  {% endif %}
{% endblock %}
