{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <h3>Quote #{{ quote.pk }}</h3>
      <ul class="list-group">
        {% for line in quote.lines %}
          <li class="list-group-item {% cycle '' 'list-group-item-secondary' %}">
            {{ line }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      <h3>Information</h3>

      <h4>Meta</h4>
      <p>This quote was submitted by {{ quote.submitter }} on {{ quote.pub_date }}</p>

      <h4>Score</h4>

      <h4>Stats</h4>

      {% if user.is_staff %}
        <h4>Administrate</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}
