{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
  <h2>Submit Quote</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button 'Submit' button_type='submit' button_class='btn-primary' %}
  </form>
{% endblock %}
