{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Quotezone</title>
    <meta charset="utf-8" />
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Quotezone</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quotes:index' %}">Recent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Top</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Stats</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'quotes:create' %}">Submit</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown">
              {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
              {% if user.is_staff %}
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              Log in
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <div class="container mt-3">
      {% bootstrap_messages %}

      <main id="content">
        {% block content %}
        {% endblock %}
      </main>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            Quotezone knows all.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
